.container {
  background: linear-gradient(to right, var(--purple-500), var(--violet-700));
  position: relative;
  bottom: 0;
  left: 0;
}

.content {
  max-width: 1120px;
  height: fit-content;
  margin: 0 auto;
  padding: 1rem 2rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  a {
    span {
      padding-left: 0.5rem;
    }
    display: flex;
    align-items: center;
    margin: 1rem 0;
    font-size: 1rem;
  }
  h6 {
    font-size: 1rem;
  }
  .services {
    height: fit-content;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    li {
      margin-top: 0.3rem;
    }
  }
}
